.logoImage {
    height: 75px;
}

.buttonPadding {
    margin-left: 10px;
}

.backgroundImage {
    background-image: url(images/Show0.JPG);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.backgroundTextGradient {
    /* background-color: rgba(255, 0, 0, 0.3) */
    /* background-color: rgba(0, 0, 0, 0); */
    /* background-image: radial-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); */
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0));
    padding: 15px;

}

@media only screen and (max-width:750px) {
    .hideWhenSmall {
        display: none;
    }
}

@media only screen and (min-width:750px) {
    .hideWhenLarge {
        display: none;
    }
}